<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userDao" class="fr.univlyon1.m1if.m1if13.repository.dao.UserDao">

    </bean>
    <bean id="tokenManager" class="fr.univlyon1.m1if.m1if13.utils.TokenManager">

    </bean>

</beans>