<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>

<div class="main">
    <!-- Sing in  Form -->
    <section>
        <h2>Login</h2>
        <form method="POST" id="login-form" th:action="@{/login}">
          <div>
              <label for="login"><i></i></label>
              <input type="text" name="login" id="login" placeholder="Login"/>
          </div>
          <div>
              <label for="password"><i></i></label>
              <input type="password" name="password" id="password" placeholder="Password"/>
          </div>
          <div>
              <input type="submit" value="Login"/>
          </div>
        </form>
        <div id="errors" class="text-danger" th:if="${(param.error != null) and (param.error[0] == 'true')}">
            Invalid email or password
        </div>
    </section>
</div>

</body>
</html>
